[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phone-field = "*"
psycopg2-binary = "*"
django-allauth = "*"
django-location-field = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-yasg = "*"
django-crum = "*"
pillow = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
